.order {
  padding: 2rem 2.5rem;
  border: 1px solid rgba(#5046e5, 0.2);
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(#5046e5, 0.1);

  &-header {
    display: flex;
    align-items: center;
    gap: 2rem;

    > .ant-typography {
      margin: 0;
    }

    > .ant-tag {
      margin-left: auto;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    &__total {
      display: flex;
      align-items: center;
      gap: 1rem;
      > svg.icon {
        stroke: #5046e5;
      }

      > .ant-typography {
        font-size: 1.8rem;
        font-weight: 500;
        color: #5046e5;
      }
    }
  }

  .ant-divider {
    margin: 2rem 0;
  }
}

.order__popover {
  display: flex;
  flex-direction: column;
}
