.search-bar {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .search-input {
    width: 80%;

    // svg {
    //   color: var(--text-color-lighter);
    //   width: 2rem;
    //   height: 2rem;
    // }
  }
}
